body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    color: #fff;
}

header a {
    color: #fff;
    text-decoration: none;
}

.logo-menu {
    background: #00171f;
}

.logo-menu h2 {
    font-size: 30px;
}

.logo-menu .menu a{
    display: inline-block;
    padding: 35px 20px;
    font-size: 18px;
}

.logo-menu .menu a:hover{
    border-bottom: 4px solid #839192;
    padding-bottom: 31px;
}

.submenu {
    background: #003459;
}

.submenu nav a{
    padding: 16px 20px;
    display: inline-block;
}

.submenu nav a:hover {
    text-decoration: underline;
}

/*MAIN*/
.main {
    margin: 0px 0;
}

.main .thumb img {
    margin-bottom: 0px;
    margin-left: 0%;
    width: 100%;
}

.main .social {
    position: fixed;
    left: 0;
    top:50%;
    z-index: 2000;
}

.main .social ul {
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -woz-box-sizing:boreder-box;
    box-sizing:border-box;
    list-style:none;
    margin-right: 0%;
}

.main .social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.main .social ul li .icon-facebook{background:#3b5998;}
.main .social ul li .icon-twitter{background:#00abf0;}

.main .social ul li a:hover {
    padding: 10px 30px;
    background: #000;
}


.container .row .ubi {
    padding: 100px;
    text-align: center;
}

.container .row .col h1 {
    margin-top: 10px;
}
.container .row .col .contacto p {
    padding: 10px;
}


/*FOOTER*/
footer {
    background: #00171f;
    color: white;
    padding: 40px 0;
    text-align: center;
}

/* SUCURSALES */
#logoSucu{
    margin-top: 0%;
    margin-left: 40%;
    margin-right: 40%;
}